/* ----------reset */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    //define 1rem
    /* font-size: 10px; */
    /* 10/16 = 0,625 */
    /* 0.625 * 16 = 10 */
    font-size: 62.5%;
    /* = 10px */
    @include respond(tab-land) {
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%; //1 rem = 8px, 8/16 =50%;
    }

    @include respond(big-desktop) {
        font-size: 75%;  //1 rem = 12px, 12/16 = 75%;
    }

}

body {
    box-sizing: border-box;
    @include respond(tab-port) {
        padding: 0;
    }
}

